// bower:scss
// endbower

img {
  max-width: 100%;
  //todo doesn't bootstrap do this?
}

.movie-summary {
  label {
    min-width: 80px;
  }
}

.movie-list {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 10px 0;
  }
}

.movie-row {
  display: flex;
  padding: 10px 0;
  > div:nth-child(1) {
    min-width: 25%;
    max-width: 25%;
  }
}

@media all and (max-width: 400px) {
  .movie-row {
    display: block;
  }
  .movie-row > div:first-child {
    max-width: 100%;
  }
}

.loading {
  opacity: 0.6;
  cursor: progress;
}

.movie-search {
  .radio {
    display: inline-block;
    padding-right: 15px;
  }
}

.modal-content {
  padding: 20px;
  text-align: center;
}

.tab-loading {
  .person div[ui-view] {
    opacity: 0.5;
    cursor: progress;
  }
}

.person {
  .tab-container {
    margin-top: 40px;
  }
  div[ui-view] {
    > div {
      padding: 30px;
    }
  }
}

.person-credit > div,
.person-details > div {
  label {
    width: 120px;
  }
  > div {
    display: inline-block;
  }
}

.person-credit {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.person-images > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  img {
    display: block;
    width: 100%;
  }
}
