<div class="person-summary row">            
  <div class="col-md-3 col-sm-4">
    <img ng-src="http://image.tmdb.org/t/p/w500{{personData.profile_path}}" ng-hide="!personData.profile_path" />
  </div>                     
  <div class="col-md-9 col-sm-8">
    <h2><a ui-sref="person.details({personID: personData.id})">{{summary.name}}</a></h2>
    <div>
      <label>Known For:</label>
      <ul>
        <li ng-repeat="movie in personData.known_for">
          <a ui-sref="movie({movieID: movie.id})">{{summary.titleName(movie)}}</a>
        </li>
      </ul>
    </div>
    <div>
      <label>Popularity:</label>
      <rating ng-model="summary.popularity" max="10" readonly="true"></rating>
    </div>
    <a ui-sref="person.details({personID: personData.id})" class="button">
      <span class="glyphicon glyphicon-plus"></span>View Full Details
    </a>
  </div>                     
</div>
