<div class="movie-summary row">            
  <div class="col-md-3 col-sm-4">
    <img ng-src="http://image.tmdb.org/t/p/w500{{movieData.poster_path}}" ng-hide="!movieData.poster_path" />
  </div>                     
  <div class="col-md-9 col-sm-8">
    <h2><a ui-sref="movie({movieID: movieData.id})">{{movieData.title}}</a></h2>
    <div>
      <label>Released:</label>
      <span>{{movieData.release_date | date:'MMM d, yyyy'}}</span>
    </div>
    <div>
      <label>Score:</label>
      <rating ng-model="movieData.vote_average" max="10" readonly="true"></rating>
      <span>({{movieData.vote_count}} votes)</span>
    </div>
    <a ui-sref="movie({movieID: 'movieData.id'})" class="button">
      <span class="glyphicon glyphicon-plus"></span>View Full Details
    </a>
  </div>                     
</div>
